.contact {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-texto-escura);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: .5em;
    margin: 1em .5em;
}