.presentation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    padding: 0 1em;
}

.presentation > div {
    margin-bottom: 3em;
}

.presentation-animation {
    width: 150px;
    margin: 0 auto 1em auto;
}

span {
    font-weight: 500;
    font-family: var(--fonte-primaria);
    color: var(--cor-texto-colorida);
}