
@import url("./header.css");
@import url("./presentation.css");
@import url("./about-me.css");
@import url("./skills.css");

:root {
    --cor-primaria: #F5EFE6;
    --cor-secundaria: #E8DFCA;
    --cor-terciaria: #393E46;
    --cor-quartenaria: #222831;

    --cor-texto-clara: #F5EFE6;
    --cor-texto-colorida: #00ADB5;
    --cor-texto-escura: #222831;

    --font-title: 'Roboto', sans-serif;
    --font-standard: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--cor-terciaria);
    font-family: var(--font-standard);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-texto-clara);
}

h1, span {
    color: var(--cor-texto-colorida);
    font-family: var(--font-title);
}

h2 {
    color: var(--cor-texto-colorida);
    font-family: var(--font-title);
    margin: 1em 0 0 1.35em;
}

h3 {
    color: var(--cor-secundaria);
    font-size: .5em;

}

.text-center {
    text-align: center;
    font-size: .9em;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.text-justify {
    text-align: justify;
    font-size: .9em;
    margin: 1em 1.5em;
    line-height: 1.2em;
    letter-spacing: 1px;
}

hr {
    color: var(--cor-terciaria);
}